/.cask/
/.emacs.desktop/
/.org-id-locations
/Memacs/
/RFC/
/abbrev_defs
/auto-compile/
/auto-save-list/
/dash.el/
/el-get/
/elpa/
/emacs-live/
/emacs24-starter-kit/
/ergoemacs-mode/
/ergoemacs/
/eshell/history
/ido.last
/newsticker/
/orgcard.txt
/packed/
/paxedit/
/prelude/
/projectile-bookmarks.eld
/request/
/tramp
/url/
/var/
