/.cask/
/.emacs.desktop/
/.org-id-locations
/RFC/
/auto-save-list/
/el-get/
/emacs-live/
/emacs24-starter-kit/
/newsticker/
/org-mode/
/orgcard.txt
/prelude/
/projectile-bookmarks.eld
/request/
/tramp
/url/
/var/
